.navigation-container {
  background-color: rgba(129, 203, 221, 0.685);
}
.items {
  transition: 0.2s;
  list-style: none;
  text-decoration: none;
  margin: 8px;
  margin-top: 25px;
  font-size: 25px;
}
.items:hover {
  color: rgb(221, 5, 5);
  background-color: rgb(8, 134, 173);
  padding: 10px;
  border-radius: 50%;
}
